@font-face {
  font-family: "iconfont"; /* Project id 5049614 */
  src: url('iconfont.woff2?t=1761404423350') format('woff2'),
       url('iconfont.woff?t=1761404423350') format('woff'),
       url('iconfont.ttf?t=1761404423350') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
  content: "\e656";
}

.icon-yunhang:before {
  content: "\e6c1";
}

.icon-fuzhi:before {
  content: "\e637";
}

.icon-icon_huabanfuben:before {
  content: "\e639";
}

.icon-genggai:before {
  content: "\e7e6";
}

.icon-daochu:before {
  content: "\e68b";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-zonghe:before {
  content: "\e69e";
}

.icon-diannao_o:before {
  content: "\eb49";
}

.icon-yunsuancaozuo_o:before {
  content: "\eb6c";
}

.icon-quanping_o:before {
  content: "\eb99";
}

.icon-fabu:before {
  content: "\e65d";
}

.icon-shurujiedian:before {
  content: "\ebfb";
}

.icon-shuchu:before {
  content: "\e60c";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-qiapianxingshi:before {
  content: "\e73f";
}

.icon-tupian:before {
  content: "\e695";
}

.icon-bingtu-xianxing:before {
  content: "\e902";
}

.icon-tiaoxingtu-xianxing:before {
  content: "\e904";
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-biaodanzujian-biaoge:before {
  content: "\ec15";
}

.icon-biaotizhengwenqiehuan:before {
  content: "\e6e2";
}

.icon-anniu:before {
  content: "\e642";
}

.icon-rongqi:before {
  content: "\e629";
}

.icon-baobiao:before {
  content: "\e607";
}

.icon-bijijilu:before {
  content: "\e6f3";
}

.icon-fengefu:before {
  content: "\e6a5";
}

.icon-yinyan:before {
  content: "\e6cb";
}

